/bin/

# Mac OS X
# metadata
.DS_Store
.classpath
.project
.gitignore
# thumbnails
._*

# GIT
.git/

# Java
*.class
# packages 
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

# Logging
*.log

# jME (binaries)
*.so
